<mat-card>
  <div>

    <h4>Name: &nbsp; &nbsp; {{player.name}}</h4>
    <h5>Jersey Number: &nbsp; &nbsp; {{player.jerseyNumber}}</h5>
  </div>
  <!--<div>-->
    <h5>Nationality: &nbsp;&nbsp; {{player.nationality}}</h5>


  <!--</div>-->
  <!--<div>-->
    <h5>Position: &nbsp;&nbsp; {{player.position}}</h5>
  <!--</div>-->


  <h5>Date of Birth: &nbsp; &nbsp; {{player.dateOfBirth}}</h5>
  <h5>Contract Getting Over On: &nbsp; &nbsp; {{player.contractUntil}}</h5>
  <h5>Market Value: &nbsp; &nbsp; {{player.marketValue}}</h5>

</mat-card>
